# Deno specific files
deno.lock
.deno_plugins.ts
.deno_plugins.js
.lock.json

# Compiled files
*.js
*.js.map

# Logs and databases
*.log
*.db

# Dependency directories
deps/

# Test files
tests/

# Environment variables
.env

# IDE configuration
.vscode